{% extends '__base__.html' %}

{% block title %}Blog Edit{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="uk-grid">
  <div id="error" class="uk-width-1-1">
  </div>

  <div id="loading" class="uk-width-1-1">
    <p><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>加载中...</p>
  </div>

  <div class="uk-width-large-2-3 uk-width-medium-4-5">
    <form id="create-blog" class="uk-form uk-form-stacked" @submit.prevent="submit">
      <legend>创建文章</legend>
      <div class="uk-alert uk-alert-danger uk-hidden"></div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="name">标题:</label>
        <div class="uk-form-controls">
          <input type="text" id="name" maxlength="50" placeholder="标题" class="uk-width-1-1 uk-form-large" v-model.trim="name">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="summary">摘要:</label>
        <div class="uk-form-controls">
          <textarea id="summary" rows="4" placeholder="摘要" class="uk-width-1-1" v-model.trim="summary"
                    style="resize: none"></textarea>
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="content">内容:</label>
        <div class="uk-form-controls">
          <textarea id="content" rows="12" placeholder="内容" class="uk-width-1-1" v-model.trim="content"
                    style="resize: none"></textarea>
        </div>
      </div>
      <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-save"></i> 提交</button>
        <a href="/manage/blogs" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block bodyend %}
<script>
    let blogid = '{{ blogid }}',
        action = '{{ action }}';

    function initVM(data) {
        $('#loading').hide();
        new Vue({
            el: '#create-blog',
            data: data,
            methods: {
                submit: function (evt) {
                    let $form = $('#create-blog');
                    if (!this.name) {
                        return $form.showFormError('标题不能为空');
                    }
                    if (!this.summary) {
                        return $form.showFormError('摘要不能为空');
                    }
                    if (!this.content) {
                        return $form.showFormError('内容不能为空');
                    }
                    $form.postJson(action, this.$data, function (err, data) {
                        if (err) {
                            return $form.showFormError(err);
                        }
                        // return location.assign('/api/blog/' + data.blog.id);
                        return location.assign('/manage/blogs');
                    });
                }
            }
        });
    }

    $(document).ready(function () {
        if (blogid) {
            getJson('/api/blog/' + blogid, function (err, data) {
                if (err) {
                    return showFatal(err);
                }
                try {
                    // let blogdata = {
                    //     name: data.blog.name,
                    //     summary: data.blog.summary,
                    //     content: data.blog.content
                    // };
                    initVM(data.blog);
                } catch (err) {
                    return showFatal({error: err.name, msg: err.message})
                }
            });
        }
        else {
            initVM({
                name: '',
                summary: '',
                content: ''
            });
        }
    });
</script>
{% endblock %}