{% extends '__base__.html' %}

{% block title %}Manage Blogs{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="uk-grid">
  <div class="uk-width-1-1 uk-margin-bottom uk-panel uk-panel-box">
    <ul class="uk-breadcrumb">
      <li><a href="/manage/comments">评论</a></li>
      <li><a href="/manage/blogs">文章</a></li>
      <li><a href="/manage/users">用户</a></li>
    </ul>
  </div>

  <div id="error" class="uk-width-1-1 uk-hidden">
  </div>

  <div id="loading" class="uk-width-1-1">
    <p><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>加载中...</p>
  </div>

  <div id="manage-blog" class="uk-width-1-1 uk-padding-remove">
    <a href="/manage/blog/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 新文章</a>
    <table class="uk-table uk-table-hover">
      <thead>
        <th class="uk-width-5-10">标题</th>
        <th class="uk-width-2-10">作者</th>
        <th class="uk-width-2-10">创建时间</th>
        <th class="uk-width-1-10">操作</th>
      </thead>
      <tr v-for="blog in blogs">
        <td><a target="_blank" :href="'/blog/' + blog.id">{{ '{{ blog.name }}' }}</a></td>
        <td><a target="_blank" :href="'/user/' + blog.user_id">{{ '{{ blog.user_name }}' }}</a></td>
        <td><span>{{ '{{ blog.createtime.toDate().formatStr() }}' }}</span></td>
        <td>
          <a @click="editBlog(blog)" class="uk-icon-edit uk-margin-small-right"></a>
          <a @click="deleBlog(blog)" class="uk-icon-trash-o"></a>
        </td>
      </tr>
    </table>
    <pagination :page="page"></pagination>
  </div>
</div>
{% endblock %}


{% block bodyend %}
<script>
    let pageindex = '{{ pageindex }}';
    let vm;

    function initVM(data) {
        return new Vue({
            el: '#manage-blog',
            data: data,
            methods: {
                editBlog: function (blog) {
                    return location.assign('/manage/blog/edit?blogid=' + blog.id)
                },
                deleBlog: function (blog) {
                    if (confirm('删除后无法恢复，是否确认要删除？')) {
                        postJson('/api/blog/delete', {blogid: blog.id}, function (err, data) {
                            if (err) {
                                return alert(err.message || err.error || err);
                            }
                            refresh();
                        })
                    }
                }
            }
        });
    }

    $(document).ready(function () {
          vm = initVM({
              page: {},
              blogs: {},
          });
          getJson('/api/blogs', {pageindex: pageindex}, function (err, data) {
              if (err) {
                  return showFatal(err);
              }
              $('#loading, #error').hide();
              vm.page = data.page;
              vm.blogs = data.blogs;
          });
          // new Vue({ el: '#components-demo' });
    });
</script>
{% endblock %}