{% extends '__base__.html' %}

{% block title %}Manage Comments{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="uk-grid">
  <div class="uk-width-1-1 uk-margin-bottom uk-panel uk-panel-box">
    <ul class="uk-breadcrumb">
      <li><span class="uk-active">评论</span></li>
      <li><a href="/manage/blogs">文章</a></li>
      <li><a href="/manage/users">用户</a></li>
    </ul>
  </div>

  <div id="error" class="uk-width-1-1 uk-hidden">
  </div>

  <div id="loading" class="uk-width-1-1">
    <p><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>加载中...</p>
  </div>

  <div id="manage-comment" class="uk-width-1-1 uk-padding-remove">
    <table class="uk-table uk-table-hover">
      <thead>
        <th class="uk-width-4-10">评论</th>
        <th class="uk-width-2-10">博客</th>
        <th class="uk-width-1-10">评论人</th>
        <th class="uk-width-2-10">创建时间</th>
        <th class="uk-width-1-10">操作</th>
      </thead>
      <tr v-for="comment in comments">
        <td><span>{{ '{{ comment.content }}' }}</span></td>
        <td><a target="_blank" :href="'/blog/' + comment.blog_id" :title="comment.blog_name">{{ '{{ comment.blog_name.slice(0, 8) }}' }}</a></td>
        <td><a target="_blank" :href="comment.user_image">{{ '{{ comment.user_name }}' }}</a></td>
        <td><span>{{ '{{ comment.createtime.toDate().formatStr() }}' }}</span></td>
        <td>
          <a @click="deleUser(user)" class="uk-icon-trash-o"></a>
        </td>
      </tr>
    </table>
    <pagination :page="page"></pagination>
  </div>
</div>
{% endblock %}


{% block bodyend %}
<script>
    let pageindex = '{{ pageindex }}';
    // let vm;

    function initVM(data) {
        return new Vue({
            el: '#manage-comment',
            data: data,
            methods: {
                editUser: function (comment) {
                    return location.assign('/manage/comment/edit?commentid=' + comment.id)
                },
                deleUser: function (comment) {
                    if (confirm('删除用户后无法恢复，是否确认要删除？')) {
                        postJson('/api/comment/delete', {commentid: comment.id}, function (err, data) {
                            if (err) {
                                return alert(err.message || err.error || err);
                            }
                            refresh();
                        })
                    }
                }
            }
        });
    }

    $(document).ready(function () {
          let vm = initVM({
              page: {},
              comments: {},
          });
          getJson('/api/comments', {pageindex: pageindex}, function (err, data) {
              if (err) {
                  return showFatal(err);
              }
              $('#loading, #error').hide();
              vm.page = data.page;
              vm.comments = data.comments;
          });
    });
</script>
{% endblock %}