{% extends '__base__.html' %}

{% block title %}User Register{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-2-3">
    <h1 class="uk-h1">注册帐号</h1>
    <form class="uk-form uk-form-stacked" id="register" @submit="submit">
      <div class="uk-alert uk-alert-danger uk-hidden"></div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="username">用户名:</label>
        <div class="uk-form-controls">
          <input type="text" id="username" maxlength="50" placeholder="用户名" v-model.trim="name">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="email">邮箱: </label>
        <div class="uk-form-controls">
          <input type="text" id="email" maxlength="50" placeholder="邮箱" v-model.trim="email">
          <span class="uk-form-help-inline">本站支持<a target="_blank" href="https://en.gravatar.com/">Gravatar</a>头像显示.</span>
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="passwd">设置密码:</label>
        <div class="uk-form-controls">
          <input type="password" id="passwd" maxlength="50" placeholder="输入密码" v-model="passwd">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="passwd2">确认密码:</label>
        <div class="uk-form-controls">
          <input type="password" id="passwd2" maxlength="50" placeholder="再次输入密码" v-model="passwd2">
        </div>
      </div>
      <div class="uk-form-row">
        <button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-user"></i> 注册</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block bodyend %}
<script>
    function validateEmail(email) {
        let reg = /^[a-z0-9\-._]+@[a-z0-9\-_]+(?:\.[a-z0-9\-_]+){1,4}$/i;
        return reg.test(email);
    }

    $(document).ready(function () {
        let vm = new Vue({
            el: '#register',
            data: {
                name: '',
                email: '',
                passwd: '',
                passwd2: '',
            },
            methods: {
                submit: function (evt) {
                    evt.preventDefault();
                    let $form = $('#register');
                    if (!this.name) {
                        return $form.showFormError({msg: '用户名不能为空!', data: 'username'});
                    }
                    if (!validateEmail(this.email)) {
                        return $form.showFormError({msg: '邮箱地址不合法！', data: 'email'});
                    }
                    if (this.passwd.length < 6) {
                        return $form.showFormError({msg: '密码长度至少6位!', data: 'passwd'});
                    }
                    if (this.passwd !== this.passwd2) {
                        return $form.showFormError({msg: '两次输入密码不一致', data: 'passwd2'});
                    }
                    $form.postJson('/api/register', {
                        name: this.name,
                        email: this.email,
                        passwd: CryptoJS.SHA1(this.email + ':' + this.passwd).toString()
                    }, function (err) {
                        if (err) {
                            return $form.showFormError(err);
                        }
                        return location.assign('/');
                    });
                }
            }
        });
    });
</script>
{% endblock %}